# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env-local


# Build output
/build
/dist
/out

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.lock

# Package lock file
package-lock.json
